html {
    font-family: 'Open Sans', sans-serif;
}

#content {
    width: calc(100% - #{$left-menu-width});
    margin-left:$left-menu-width;
    
    @media screen and (max-width: $break-large) {
        width: 100%;
        margin-left: 0px;
    }
}
