$height-cv: 350px;
$width-icon: 30%;
$text-color: white;

$button-background: rgba(200,200,200,0.65);
$button-background-hover:rgba(255,255,255,0.65);
$button-color: black;
$button-color-hover: black;

#cv {

    background-size: cover;
    height: $height-cv;
    background: url(../img/macbook.jpg);
    background-attachment: fixed;

    .cv-bloc {
        float:left;
        text-align: center;
        height: $height-cv;
        background: rgba(0,0,0,0.5);
    }

    #cv-icon {
        width: $width-icon;

        img { 
            height:$height-cv + 20px;
            margin-left:-25px;
        }
    }

    #cv-text {
        width: 100% - $width-icon;
        position: relative;
        margin: auto;
        color: $text-color;

        #cv-wrapper-text {

            width:75%;
            margin: auto;

            h2 {
                border-bottom: 1px solid $text-color;
                width:inherit;
            }

            p {
                padding: 20px;
                line-height: 1.5;
            }

            button {
                position: relative;
                top: 20%;
                color: $button-color;
                background-color: $button-background;
                padding:15px 70px;
                border: 0px;
                border-bottom: 4px solid darken(white, 10);
                @include transition(all 0.25s ease);

                a {
                    color:$button-color; 
                }

                &:hover {
                    background: $button-background-hover;
                    cursor: pointer;
                    color:$button-color-hover;
                    @include box-shadow(0px 5px 10px #1f1e1e);
                    a {
                        color: $button-color-hover;
                    }
                }

                i.fa-download {
                    padding-left: 10px;
                    font-size: 1.2em;
                }
            }
        }
    }
}